*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  pink;
}

#btn{
    width: 100px;
    height: 40px;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    background-color: crimson;
    color: white;
}


